html,
body {
    height: 100%;
    margin: 0;
    background-color: #28242c;
}

a {
    text-decoration: none;
}

.option-box {
    height: 10rem;
    width: 10rem;
    border: 5px solid #fff;
    border-radius: 0.5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-box {
    height: 16rem;
    width: 30rem;
    border: 0.2rem solid #fff;
    border-radius: 0.5rem;
    margin-top: 5rem;
    justify-content: flex-start; /* push content to left */
    align-items: flex-start;     /* push content to top */
    padding: 1.5rem;    
}

.stats-content {
    margin-bottom: 2rem;
}

.weapon-img{
    width: 10rem;
    height: auto;
}