html,
body {
    height: 100%;
    margin: 0;
    background-color: #28242c;
}

a {
    text-decoration: none;
}

.option-box {
    height: 10rem;
    width: 10rem;
    border: 5px solid #fff;
    border-radius: 0.5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-sidebar {
    height: calc(100vh - 56px);
    width: 12%;
    background-color: black;
    position: fixed;
    top: 56px;
    left: 0;
    padding: 1rem;
    font-size: large;
}

.content-area{
    width: 40%;
    margin-left: 14rem;
}

.stats-box {
    height: 18rem;
    width: 30rem;
    border: 0.2rem solid #fff;
    border-radius: 0.5rem;
    margin-top: 5rem;
    margin-left: 13%;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 calc(33.333% - 20px);
    padding: 1rem;

}

.stats-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.stats-title p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.stats-row {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 0.5rem;

}

.stats-top {
    min-height: calc(100% - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4.5rem;
}

.stats-img img {
    width: 14rem;
    height: auto;
}
.stats-content {
    margin-bottom: 2rem;
    text-align: center;
    align-self: flex-end;
    flex: 1;
}

.flex-spacer {
    flex: 1;
}

.stats-target {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 3rem;
}

.stats-target img {
    width: 2rem;
    height: auto;
}

.pagination .page-item.active .page-link {
    background-color: #71965c; /* your desired color */
    border-color: #71965c;
    color: #ffffff;
}

/* Change all page link hover color */
.pagination .page-link:hover {
    background-color: #71965c;
    border-color: #71965c;
    color: #ffffff;
}

/* Change normal page link color */
.pagination .page-link {
    color: #000000;
}

.pagination-info {
    margin-bottom: 10rem; /* adds space below text */
    font-size: 0.95rem;
    color: #000000;
    text-align: center;
}